.movie-card {
    width: 25vw;
    height: auto;
    margin-top: 15px;
}

@media (min-width : 1600px) {
    .movie-card {
        width: 15vw;
    }
}

@media (max-width : 1000px) {
    .movie-card {
        width: 40vw;
    }
}

@media (max-width : 800px) {
    .movie-card {
        width: 60vw;
    }
}

.movie-card-body {
    display: flex;
    flex-direction: column;
}

.movie-card-title {
    align-self: center;
    margin-top: 15px;
}

.card-btns {
    display: flex;
    flex-direction: row; 
    column-gap: 5px;
    width: 100%;
    justify-content: center;
}

#view-movie-btn {
    flex: 0 0 60%;
}

#add-favorite-btn {
    flex: 0 0 20%;
}

#remove-favorite-btn {
    flex: 0 0 20%;
}
