.movie-card {
    width: 100%;
    margin-top: 15px;
}

.movie-card-body {
    display: flex;
    flex-direction: column;
}

.movie-card-title {
    align-self: center;
    margin-top: 15px;
}

#view-movie-btn {
    background-color: black;
    border-color: darkgoldenrod;
    width: 100%;
}
