.registration-form {
    margin-bottom: 50px;
}

.registration-header {
    margin-bottom: 20px;
    color: white;
}

.registration-text {
    color: white;
}

#register-submit {
    background-color: black;
    border: none;
}

#register-submit:hover {
    opacity: 80%;
}