.user-form {
    padding-top: 30px;
}

.profile-btns {
    display: flex;
    flex-direction: row;
}

.user-favorites {
    padding-top: 50px;
}

#user-submit {
    margin-right: 15px;
    background-color: black;
    border-color: black;
}