.col-lg-6 {
    display: flex;
    align-items: center;
}

.user-form {
    padding-top: 30px;
}

.profile-btns {
    display: flex;
    flex-direction: row;
}

.user-favorites {
    padding-top: 50px;
}

#user-update-btn {
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 700px) {
    .profile-btns {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    .profile-btn {
        margin-bottom: 10px;
    }

    #user-update-btn {
        margin-right: 0;
        margin-left: 0;
    }
}