.col-lg-6 {
    display: flex;
    align-items: center;
}

.user-form {
    padding-top: 30px;
}

.profile-btns {
    display: flex;
    flex-direction: row;
}

.user-favorites {
    padding-top: 50px;
}

#user-update-btn {
    margin-right: 15px;
    margin-left: 15px;
}