.login-form {
    margin-bottom: 50px;
}

.login-header {
    margin-bottom: 20px;
    color: white;
}

.login-text {
    color: white;
}

#login-btn {
    border: none;
}

.register-here {
    color: white;
    margin-top: 50px;
}